/.BlockAspect.java._trace
/.BlockAspectBlockAspectContext.java._trace
/.BlockAspectBlockAspectProperties.java._trace
/.CommandAspect.java._trace
/.CommandAspectCommandAspectContext.java._trace
/.CommandAspectCommandAspectProperties.java._trace
/.LightAspect.java._trace
/.LightAspectLightAspectContext.java._trace
/.LightAspectLightAspectProperties.java._trace
/.MoveAspect.java._trace
/.MoveAspectMoveAspectContext.java._trace
/.MoveAspectMoveAspectProperties.java._trace
/.NamedElementAspect.java._trace
/.NamedElementAspectNamedElementAspectContext.java._trace
/.NamedElementAspectNamedElementAspectProperties.java._trace
/.OzobotAspect.java._trace
/.OzobotAspectOzobotAspectContext.java._trace
/.OzobotAspectOzobotAspectProperties.java._trace
/.OzobotProgramAspect.java._trace
/.OzobotProgramAspectOzobotProgramAspectContext.java._trace
/.OzobotProgramAspectOzobotProgramAspectProperties.java._trace
/.RepeatAspect.java._trace
/.RepeatAspectRepeatAspectContext.java._trace
/.RepeatAspectRepeatAspectProperties.java._trace
/.RotateAspect.java._trace
/.RotateAspectRotateAspectContext.java._trace
/.RotateAspectRotateAspectProperties.java._trace
/.TransitionAspect.java._trace
/.TransitionAspectTransitionAspectContext.java._trace
/.TransitionAspectTransitionAspectProperties.java._trace
/.WaitAspect.java._trace
/.WaitAspectWaitAspectContext.java._trace
/.WaitAspectWaitAspectProperties.java._trace
/.modelAspects.xtendbin
/BlockAspect.java
/BlockAspectBlockAspectContext.java
/BlockAspectBlockAspectProperties.java
/CommandAspect.java
/CommandAspectCommandAspectContext.java
/CommandAspectCommandAspectProperties.java
/LightAspect.java
/LightAspectLightAspectContext.java
/LightAspectLightAspectProperties.java
/MoveAspect.java
/MoveAspectMoveAspectContext.java
/MoveAspectMoveAspectProperties.java
/NamedElementAspect.java
/NamedElementAspectNamedElementAspectContext.java
/NamedElementAspectNamedElementAspectProperties.java
/OzobotAspect.java
/OzobotAspectOzobotAspectContext.java
/OzobotAspectOzobotAspectProperties.java
/OzobotProgramAspect.java
/OzobotProgramAspectOzobotProgramAspectContext.java
/OzobotProgramAspectOzobotProgramAspectProperties.java
/RepeatAspect.java
/RepeatAspectRepeatAspectContext.java
/RepeatAspectRepeatAspectProperties.java
/RotateAspect.java
/RotateAspectRotateAspectContext.java
/RotateAspectRotateAspectProperties.java
/TransitionAspect.java
/TransitionAspectTransitionAspectContext.java
/TransitionAspectTransitionAspectProperties.java
/WaitAspect.java
/WaitAspectWaitAspectContext.java
/WaitAspectWaitAspectProperties.java
