<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated OzobotL -->
    <package uri="http://ozobot.xdsml.ozobotl/model/" class="ozobot.xdsml.ozobotl.model.ModelPackage" genModel="model/OzobotL.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition name="ozobot.xdsml.OzobotL" xdsmlFilePath="platform:/plugin/ozobot.xdsml.ozobotl/model/OzobotL.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
</plugin>
